# Copiá este archivo como .env y completá los valores reales
MONGO_URL=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/adoptme?retryWrites=true&w=majority&appName=<AppName>
PORT=8080
JWT_SECRET=tokenSecretJWT
